# Environment
.env
env

# Distribution / Packaging
build/
dist/
*.egg-info/
var/

# Virtual Environment
venv

# Miscellaneous
__pycache__
results
outputs
outputs_frontier_final

figure_and_targeted_runs/
figures/
results_may/
results_april/
analysis_may/
analysis_april/
analysis/
extended_results/